src/Sitecore.Rocks/Service References/SitecoreRocksPlugins/default.wsdl

<?xml version="1.0" encoding="utf-8"?>

<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sitecore.net/rocks/plugins" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    targetNamespace="http://sitecore.net/rocks/plugins" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://sitecore.net/rocks/plugins">
            <s:element name="List">
                <s:complexType />
            </s:element>
            <s:element name="ListResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ListResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Upload">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="pluginVersion" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="requiredVersion" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="categories" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="previewFormat" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="file" type="s:base64Binary" />
                        <s:element minOccurs="0" maxOccurs="1" name="source" type="s:base64Binary" />
                        <s:element minOccurs="0" maxOccurs="1" name="preview" type="s:base64Binary" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="UploadResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UploadResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Download">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="DownloadResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="DownloadResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ListSoapIn">
        <wsdl:part name="parameters" element="tns:List" />
    </wsdl:message>
    <wsdl:message name="ListSoapOut">
        <wsdl:part name="parameters" element="tns:ListResponse" />
    </wsdl:message>
    <wsdl:message name="UploadSoapIn">
        <wsdl:part name="parameters" element="tns:Upload" />
    </wsdl:message>
    <wsdl:message name="UploadSoapOut">
        <wsdl:part name="parameters" element="tns:UploadResponse" />
    </wsdl:message>
    <wsdl:message name="DownloadSoapIn">
        <wsdl:part name="parameters" element="tns:Download" />
    </wsdl:message>
    <wsdl:message name="DownloadSoapOut">
        <wsdl:part name="parameters" element="tns:DownloadResponse" />
    </wsdl:message>
    <wsdl:portType name="SitecoreRocksPluginsSoap">
        <wsdl:operation name="List">
            <wsdl:input message="tns:ListSoapIn" />
            <wsdl:output message="tns:ListSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="Upload">
            <wsdl:input message="tns:UploadSoapIn" />
            <wsdl:output message="tns:UploadSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="Download">
            <wsdl:input message="tns:DownloadSoapIn" />
            <wsdl:output message="tns:DownloadSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SitecoreRocksPluginsSoap" type="tns:SitecoreRocksPluginsSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="List">
            <soap:operation soapAction="http://sitecore.net/rocks/plugins/List" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Upload">
            <soap:operation soapAction="http://sitecore.net/rocks/plugins/Upload" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Download">
            <soap:operation soapAction="http://sitecore.net/rocks/plugins/Download" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="SitecoreRocksPluginsSoap12" type="tns:SitecoreRocksPluginsSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="List">
            <soap12:operation soapAction="http://sitecore.net/rocks/plugins/List" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Upload">
            <soap12:operation soapAction="http://sitecore.net/rocks/plugins/Upload" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Download">
            <soap12:operation soapAction="http://sitecore.net/rocks/plugins/Download" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SitecoreRocksPlugins">
        <wsdl:port name="SitecoreRocksPluginsSoap" binding="tns:SitecoreRocksPluginsSoap">
            <soap:address location="http://localhost:93/default.asmx" />
        </wsdl:port>
        <wsdl:port name="SitecoreRocksPluginsSoap12" binding="tns:SitecoreRocksPluginsSoap12">
            <soap12:address location="http://localhost:93/default.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>